 <!-- Sección de Proyectos -->
 <section id="projects-section" class="py-5 text-center container bg-light-gradient">
    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 class="fw-bold display-4 text-primary mb-3 animated-title">{{ 'projects.title' | translate }}</h1>
        <p class="lead text-secondary mb-5">{{ 'projects.description' | translate }}</p>
      </div>
    </div>
    <div class="album py-5">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
          <div class="col" *ngFor="let project of projects; let i = index">
            <div class="card shadow-sm h-100 hover-card">
              <div class="overflow-hidden rounded-top" style="max-height: 200px;">
                <img class="img-fluid card-img-top scale-on-hover" [src]="project.image" [alt]="project.title | translate" style="object-fit: cover; height: 200px;">
              </div>
              <div class="card-body">
                <h5 class="card-title text-primary">{{ project.title | translate }}</h5>
                <p class="card-text text-muted">{{ project.description | translate }}</p>
                <div class="d-flex justify-content-center align-items-center">
                  <a class="btn btn-primary btn-glow" [href]="project.link" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'go.link' | translate }}">
                    {{ 'go.link' | translate }} <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>