<header class="custom-navbar">
  <a routerLink="/home" fragment="inicio" class="nav-logo">
    <img src="../../assets/FONTTECH_LOGO.jpg" alt="Fonttech Logo" width="40" height="32" />
    <span class="brand-text">Fonttech</span>
  </a>
  <nav>
    <ul class="nav-list">
      <li class="nav-item"><a routerLink="/home" fragment="inicio" class="nav-link">Inicio</a></li>
      <li class="nav-item"><a routerLink="/home" fragment="servicios" class="nav-link">Servicios</a></li>
      <li class="nav-item"><a routerLink="/home" fragment="contacto" class="nav-link">Contacto</a></li>
    </ul>
  </nav>
</header>