<!-- Botón de toggle para abrir/cerrar la sidebar en móvil -->
<button class="sidebar-toggle" (click)="toggleSidebar()">
  <i class="bi bi-list"></i>
</button>

<!-- Sidebar -->
<div class="sidebar" [class.expanded]="isSidebarExpanded">
  <div class="brand">
    <img src="../../assets/FONTTECH_LOGO.jpg" alt="Kevin Fontt" class="profile-image">
    <span class="brand-text">Kevin Fontt</span>
  </div>
  <ul class="nav-links">
    <li class="nav-item">
      <a (click)="scrollToSection('home-section')" class="nav-link">
        <i class="bi bi-house-door"></i>
        <span>Home</span>
      </a>
    </li>
  </ul>
</div>
