<nav class="navbar navbar-expand-lg sticky-top navbar-custom">
  <div class="container-fluid">
    <a href="/" class="navbar-brand d-flex align-items-center">
      <img src="../../assets/arthas_dk_scp.jpg" alt="Kevin Fontt" class="rounded-circle profile-image">
      <span class="ms-2 fs-4 fw-bold">Kevin</span>
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a (click)="scrollToSection('team-section')" class="nav-link nav-link-custom">
            <i class="bi bi-people-fill fs-4"></i>
            <span class="d-block mt-1">{{ 'team' | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="scrollToSection('projects-section')" class="nav-link nav-link-custom">
            <i class="bi bi-gear-fill fs-4"></i>
            <span class="d-block mt-1">{{ 'projects' | translate }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
