<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
    <div class="container-fluid">
      <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <img src="../../assets/arthas_dk_scp.jpg" alt="Kevin Fontt" class="rounded-circle" style="width: 40px; height: 40px;">
        <span class="ms-2">Kevin</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a (click)="scrollToSection('projects-section')" class="nav-link text-white ms-3">
              <i class="bi bi-gear d-block mx-auto mb-1"></i>
              {{ 'projects' | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a (click)="scrollToSection('contact-section')" class="nav-link text-white ms-3">
              <i class="bi bi-envelope-fill d-block mx-auto mb-1"></i>
              {{ 'contact' | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a (click)="scrollToSection('team-section')" class="nav-link text-white ms-3">
              <i class="bi bi-people-fill d-block mx-auto mb-1"></i>
              {{ 'team' | translate }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  