<div class="new-footer">
  <footer class="footer">
    <div class="footer-wrapper">
      <div class="footer-brand">
        <a href="/" class="footer-logo">
          <svg class="bi" viewBox="0 0 16 16">
            <use xlink:href="#bootstrap"/>
          </svg>
        </a>
        <p class="footer-text">&copy; 2025 Fonttech Software</p>
      </div>
      <div class="footer-contacts">
        <a href="mailto:contacto@fonttech.cl" target="_blank" class="contact-link email">
          <i class="bi bi-envelope-fill"></i>
          <span>contacto&#64;fonttech.cl</span>
        </a>
        <a href="https://wa.me/56979624710" target="_blank" class="contact-link whatsapp">
          <i class="bi bi-whatsapp"></i>
          <span>+56 9 7962 4710</span>
        </a>
      </div>
    </div>
  </footer>
</div>