<main>

<app-hero></app-hero>

<app-services></app-services>




  <!-- Botones Flotantes de Redes Sociales -->
  <div class="floating-buttons">
    <a href="https://wa.me/56936752317" target="_blank" class="floating-btn whatsapp">
      <i class="bi bi-whatsapp"></i><span>{{ 'floating_buttons.whatsapp' | translate }}</span>
    </a>
    <a href="https://www.linkedin.com/in/kevinfonttdev/" target="_blank" class="floating-btn linkedin">
      <i class="bi bi-linkedin"></i><span>{{ 'floating_buttons.linkedin' | translate }}</span>
    </a>
    <a href="https://www.instagram.com" target="_blank" class="floating-btn instagram">
      <i class="bi bi-instagram"></i><span>{{ 'floating_buttons.instagram' | translate }}</span>
    </a>
    <a href="https://github.com/kevinfonttlizama" target="_blank" class="floating-btn github">
      <i class="bi bi-github"></i><span>{{ 'floating_buttons.github' | translate }}</span>
    </a>
  </div>
</main>
