<main>
  <!-- Sección de Proyectos -->
  <section id="projects-section" class="py-5 text-center container bg-light-gradient">
    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 class="fw-bold display-4 text-primary mb-3 animated-title">{{ 'projects.title' | translate }}</h1>
        <p class="lead text-secondary mb-5">{{ 'projects.description' | translate }}</p>
      </div>
    </div>
    <div class="album py-5">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
          <div class="col" *ngFor="let project of projects; let i = index">
            <div class="card shadow-sm h-100 hover-card">
              <div class="overflow-hidden rounded-top" style="max-height: 200px;">
                <img class="img-fluid card-img-top scale-on-hover" [src]="project.image" [alt]="project.title | translate" style="object-fit: cover; height: 200px;">
              </div>
              <div class="card-body">
                <h5 class="card-title text-primary">{{ project.title | translate }}</h5>
                <p class="card-text text-muted">{{ project.description | translate }}</p>
                <div class="d-flex justify-content-center align-items-center">
                  <a class="btn btn-primary btn-glow" [href]="project.link" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'go.link' | translate }}">
                    {{ 'go.link' | translate }} <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección de Equipo -->
  <section id="team-section" class="py-5 bg-light">
    <div class="container">
      <div class="row mb-4 mb-lg-5 text-center">
        <div class="col-md-8 col-xl-6 mx-auto">
          <h2 class="fw-bold text-primary display-4 mb-3">{{ 'team.title' | translate }}</h2>
          <p class="text-muted lead">{{ 'team.description' | translate }}</p>
        </div>
      </div>
      <div class="row gy-4 row-cols-1 row-cols-md-3 justify-content-center">
        <div class="col-lg-4">
          <div class="card team-card border-0 shadow text-center p-3">
            <div class="team-image-container mx-auto mb-3">
              <img class="rounded-circle fit-cover team-image" width="130" height="130" src="../../assets/arthas_dk_scp.jpg" alt="Kevin Fontt Lizama">
            </div>
            <h5 class="fw-bold text-primary card-title mb-1">Kevin Fontt Lizama</h5>
            <p class="text-muted card-text mb-3">{{ 'team.role' | translate }}</p>
            <ul class="list-inline fs-5 text-muted mb-0">
              <li class="list-inline-item">
                <a href="https://www.facebook.com" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="bi bi-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="bi bi-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="bi bi-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <button class="btn btn-toggle-mode-floating" (click)="toggleTheme()" aria-label="Toggle theme">
    <i class="bi" [ngClass]="isDarkMode ? 'bi-sun-fill' : 'bi-moon-fill'"></i>
  </button>
  

  <!-- Botones Flotantes de Redes Sociales -->
  <div class="floating-buttons">
    <a href="https://wa.me/56936752317" target="_blank" class="floating-btn whatsapp">
      <i class="bi bi-whatsapp"></i><span>WhatsApp</span>
    </a>
    <a href="https://www.linkedin.com/in/kevinfonttdev/" target="_blank" class="floating-btn linkedin">
      <i class="bi bi-linkedin"></i><span>LinkedIn</span>
    </a>
    <a href="https://www.instagram.com" target="_blank" class="floating-btn instagram">
      <i class="bi bi-instagram"></i><span>Instagram</span>
    </a>
    <a href="https://github.com/kevinfonttlizama" target="_blank" class="floating-btn github">
      <i class="bi bi-github"></i><span>GitHub</span>
    </a>
  </div>
  
</main>
